excluded_categories:
  type: list
  default: ""
  description:
    en: "List of excluded category slugs"
order_by_activity:
  type: list
  default: ""
  description:
    en: "Categories where children are ordered by activity"
show_latest:
  type: list
  default: ""
  description:
    en: "Categories to show latest (unread + new) topic counts for"
collapsible_sidebar:
  type: bool
  default: false
  description:
    en: Adds the ability to collapse the sidebar to show only category logos.
collapsible_sidebar_desktop_toggle:
  type: enum
  default: bottom
  choices:
    - top
    - bottom
  description:
    en: Location of the desktop sidebar toggle.
category_badges:
  type: bool
  default: false
  description:
    en: Enable category colored badges next to the category name.
auto_generate_category_logos:
  type: bool
  default: false
  description:
    en: Create a category logo when one is not present.
custom_logos:
  type: list
  default: ""
  description:
    en: |
      List of custom category logos for the category list widget. Takes precedence over
      other category logos.</br>
      Format: category_slug:image_url
custom_links:
  type: list
  default: ""
  description:
    en: |
      Add custom links to the category sidebar.</br>
      Format (comma seperated): name, icon url, link url, options</br>
      Options (semicolon and colon seperated):
        location: above or below;
        new_tab: true or false;</br>
      Example: Label,/icon.png,/path,location:below;new_tab:true
category_lock_icon:
  type: enum
  default: lock
  choices:
    - lock
    - unlock
    - unlock-alt
    - lock-open
    - user-secret
    - user-lock
  description: "Enter the name of a FontAwesome 5 icon to display instead of the lock icon next to private categories."
custom_headers:
  type: list
  default: ""
  description:
    en: |
      Add headers above or below categories and custom links</br>
      Format (comma seperated): label, type:position, href</br>
      Options:
        type: categories or links
        position (links only): above or below
        href (optional): valid href</br>
      Example: Teams,links:below,/teams adds the header "Teams" to the custom links that appear
      below the category list