.layouts-category-list {
  padding: 10px 0;
  
  ul {
    list-style: none;

    li.layouts-category-link {
      display: flex;
      align-items: center;
      min-height: 30px;
      padding-left: 20px;
      margin: 0;
      cursor: pointer;
      position: relative;
      
      &.active, &:hover {
        background-color: $primary-low;
      }

      .category-logo {
        margin-right: 5px;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        
        img {
          height: 100%;
        }
      }
      
      .d-icon-lock {
        color: var(--primary-medium);
        font-size: 0.8em;
        margin-right: 4px;
      }
      
      .new-posts {
        margin: 0 10px;
      }
      
      .active-marker {
        height: 30px;
        width: 3px;
        position: absolute;
        right: 0;
      }
      
      .reset-new {
        margin-left: auto;
      }
    }
    
    .time-gap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9em;
      margin: 5px 0;
      
      span {
        border-top: 1px solid $danger-low;
        flex: 1;
      }
      
      label {
        margin: 0;
        padding: 0 5px;
      }
    }
  }

  ul.parent-categories {
    margin: 0;
    
    > li {
      &:first-of-type {
        margin-top: 0;
      }
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul.child-categories {
    margin: 0;
    
    > li {
      padding-left: 30px;
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  li.layouts-category-link.has-logo + ul.child-categories > li {
    padding-left: 50px;
  }
}