.layouts-category-list {
  padding: 10px 0;

  ul {
    list-style: none;

    li.layouts-category-link {
      display: flex;
      align-items: center;
      min-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;
      cursor: pointer;
      position: relative;

      .category-logo {
        height: 25px;
        width: 25px;
        min-width: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        padding: 0;
        margin: 0 10px 0 0;
        border: none;

        img, span::before {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }

        .category-text-logo {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 25px;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: var(--font-down-1);
          font-size: var(--font-down-1);
          text-transform: uppercase;
        }
      }

      .d-icon-lock {
        color: var(--primary-medium);
        font-size: 0.8em;
        margin-right: 4px;
      }

      .category-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
      }

      .new-posts {
        margin: 0 10px;
      }

      .active-marker {
        height: 30px;
        width: 3px;
        position: absolute;
        right: 0;
      }

      .reset-new {
        margin-left: auto;
      }
      
      .toggle-children {
        margin-left: auto;
        padding: 0;
        background: transparent;
        
        &:hover,
        .d-icon,
        .d-icon:hover {
          background: transparent;
          color: var(--primary-medium);
        }
      }
    }

    .time-gap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9em;
      margin: 5px 0;

      span {
        border-top: 1px solid var(--danger-low);
        flex: 1;
      }

      label {
        margin: 0;
        padding: 0 5px;
      }
    }
  }

  ul.parent-categories,
  ul.child-categories {
    margin: 0;

    > li {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul.parent-categories .layouts-minimize-button {
    margin-top: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-top: 2px solid var(--primary-low);
    width: 100%;
    box-sizing: border-box;

    .minimize-icon.category-logo {
      font-size: var(--font-up-1);
      color: var(--primary-high);
    }

    &.menu {
      justify-content: space-between;
      border-top: none;
      margin: 0;

      .minimize-text {
        color: var(--primary);
      }

      .minimize-icon.category-logo {
        margin: 0;

        .d-icon {
          margin: 0;
          color: var(--primary);
        }
      }
    }
  }

  ul.parent-categories {
    li.layouts-category-link {
      &.showing-children,
      &:hover {
        background-color: var(--primary-low);
      }

      &.showing-children:hover {
        background-color: dark-light-diff($primary, $secondary, 85%, -70%);
      }
    }

    ul.child-categories {
      background-color: var(--primary-low);

      li.layouts-category-link {
        &:hover {
          background-color: dark-light-diff($primary, $secondary, 85%, -70%);
        }
      }

      &.grandchildren {
        background-color: dark-light-diff($primary, $secondary, 85%, -70%);

        li.layouts-category-link {
          &:hover {
            background-color: var(--primary-medium);
          }
        }
      }
    }
  }
}

body.layouts-tablet #main-outlet {
  padding-left: 6rem;
}

aside.sidebar.full.tablet {
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, .25);
}

.layouts-sidebar-minimized aside.sidebar.full {
  .layouts-category-list ul li.layouts-category-link {
    .category-name {
      display: none;
    }

    .d-icon-lock {
      position: absolute;
      bottom: 4px;
      right: 4px;
    }

    .badge-notification {
      position: absolute;
      top: 4px;
      right: -2px;
    }

    .category-logo {
      margin-right: 0;
    }
  }

  .minimize-icon {
    transform: rotate(180deg);
  }
}

.layouts-sidebar-minimized.layouts-left-full #main-outlet {
  padding-left: 6rem;
}

.show-more {
  text-align: center;
}