.layouts-category-list {
  padding: 6px 12px;
  
  ul {
    list-style: none;

    li {
      margin: 5px 0;
      
      .layouts-category-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .category-logo {
          margin-right: 10px;
          
          img {
            height: 30px;
            width: 30px;
          }
        }
        
        .badge-wrapper {
          white-space: initial;
        }
      }
    }
  }

  ul.parent-categories {
    margin: 0;
    
    > li {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  ul.child-categories {
    margin: 0 0 0 10px;
    
    > li {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}